<!DOCTYPE html>

{{> hr-navbar}}

<div style="padding: 70px 20px 20px 20px;">
    <div>
        <label class="h2" style="padding: 5px;color: #2c2c2c;"><strong>Screen </strong>Applications</label>
        <div style="padding: 5px; float: right">
            <input type="checkbox" id="sort-sysreq">
            <label for="sort-sysreq" style="margin-left: 8px;"><strong>Sort by</strong> System Requirements</label>
        </div>
    </div>
    <hr>
    <div style="height: 100%;">
        <div class="float-left" style="width: 35%; margin: 0;">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" id="pendingTab" role="presentation" onclick="updateButtons(this);"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">PENDING</a></li>
                <li class="nav-item" id="acceptedTab"  role="presentation" onclick="updateButtons(this);"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">ACCEPTED</a></li>
                <li class="nav-item" id="rejectedTab"  role="presentation" onclick="updateButtons(this);"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">REJECTED</a></li>
            </ul>
            <div class="tab-content" style="padding: 20px;margin: 0px -5px;">
                <div class="tab-pane active" role="tabpanel" id="tab-1">
					{{#each pending}}
						<div class="row tab1row tabInactive" onclick="getApplicInfo('{{{this.applicantID}}}'); changeTab1Class(this);">
							<label class="col-form-label d-block"> {{genApplicName this}} </label>
						</div>
					{{/each}}
                </div>

                <div class="tab-pane" role="tabpanel" id="tab-2">
					{{#each accepted}}
						<div class="row tab2row tabInactive" onclick="getApplicInfo('{{{this.applicantID}}}'); changeTab2Class(this);">
							<label class="col-form-label d-block"> {{genApplicName this}} </label>
						</div>						
					{{/each}}
                </div>

                <div class="tab-pane" role="tabpanel" id="tab-3">
					{{#each rejected}}
						<div class="row tab3row tabInactive" onclick="getApplicInfo('{{{this.applicantID}}}'); changeTab3Class(this);">
							<label class="col-form-label d-block"> {{genApplicName this}} </label>
						</div>						
					{{/each}}
                </div>

            </div>
        </div>

        <div class="border rounded float-right" style="width: 65%;padding: 10px;background: #f7f7f7;margin: 0;">
            <div class="d-flex"><label id="applic-name" class="d-inline-flex float-left h3" style="width: 80%;padding: 0px;padding-left: 10px;">Applicant Details</label>
                <button type="button" id="acceptApplcnt" style="border: none;display:flex; margin-bottom: 10px; margin-right: 5px; box-shadow: 1px 1px 5px rgba(0,0,0,0.2)">Accept</button>
                <button type="button" id="rejectApplcnt" style="background-color: #fff; color: red; border-style: solid; border-width: 0.5px;border-color: #cd201f; display:flex; margin-bottom: 10px; box-shadow: 1px 1px 5px rgba(0,0,0,0.2)">Reject</button>
				<button type="button" id="removeApplcnt" style="background-color: #fff; color: red; border-style: solid; border-width: 0.5px;border-color: #cd201f; display:flex; margin-bottom: 10px; box-shadow: 1px 1px 5px rgba(0,0,0,0.2)">Remove</button>
            </div>
            <div class="d-flex" style="width: 95%;">
                <div>
                    <ul class="nav nav-pills" role="tablist" style="border-bottom-width: 2px;border-bottom-color: rgb(33,41,34);">
                        <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="pill" href="#tab-4">System Requirements</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="pill" href="#tab-5">Resume</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="pill" href="#tab-6">Skills</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="pill" href="#tab-7">Certifications</a></li>
                    </ul>
                    <div class="tab-content" style="padding: 20px; width: 100vh; height: 100%;">
					
					<input id="hide-applicID" type="hidden"/>

                        <div class="tab-pane active" role="tabpanel" id="tab-4" name="tab-sysreq">
                            <p></p>

							<div class="form-check" style="margin-top: 25px;">
							  <input class="form-check-input" type="checkbox" id="formCheck-1" name="check1" disabled/>
							  <label class="form-check-label" style="font-size: 14px;"><strong>Personal Computer/Laptop</strong><br><em>Any processor with 2.0 GHz clock speed or higher&nbsp;and a 4GB RAM or higher.</em><br></label>
							</div>
							<div class="form-check" style="margin-top: 25px;">
							  <input class="form-check-input" type="checkbox" id="formCheck-2" name="check2" disabled/>
							  <label class="form-check-label hr-disabled" style="font-size: 14px;"><strong>Internet speed</strong><br><em>Internet speed of 3 Mbps or higher with 2.5 Mbps running speed.</em><br></label>
							</div>
							<div class="form-check" style="margin-top: 25px;">
							  <input class="form-check-input hr-disabled" type="checkbox" id="formCheck-3" name="check3" disabled/>
							  <label class="form-check-label" style="font-size: 14px;"><strong>Headset</strong><br><em>Over-the-ear headset with a retractable noise-reduction microphone or In-ear headsets (like the ones that come with your phone) are not allowed.</em><br></label>
							</div>
							<div class="form-check" style="margin-top: 25px;">
							  <input class="form-check-input hr-disabled" type="checkbox" id="formCheck-4" name="check4" disabled/>
							  <label class="form-check-label" style="font-size: 14px;"><strong>Webcam</strong><br><em>HD / Clear Webcam (360p or higher pixel density) or built-in webcams with 360p or higher pixel density are allowed.</em><br><br></label>
							</div>

                        </div>

                        <div class="tab-pane" role="tabpanel" id="tab-5" name="tab-resume">
							<object id="resume" data="" type="application/pdf" style="width: 100%; height: 100vh;"></object>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="tab-6" name="tab-skills">

                        </div>

                        <div class="tab-pane" role="tabpanel" id="tab-7" name="tab-certs">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
