<!DOCTYPE html>

{{> trainee-navbar}}

<div style="padding: 70px 20px 20px 20px;">
    <div>
    	<label class="h3" style="padding: 5px;color: #2c2c2c;"><a href="/trainee-classes">Classes</a> > <strong>Class Section</strong></label>
        <hr>
    </div>
    <div>
        <div name="class_dets"  style="width: 100%; display: block; margin-bottom: 20px;">
        	<div style="display: inline-block;padding: 5px;">
        		Real Estate<br>
        		Rudolfa Villalopez<br>
        		September 10 - 18, 2020<br>
        		8AM - 5PM<br>
        		Meeting Link<br>
        	</div>
        	<div class="wrap-collabsible" name="grade-legend" style="float: right; margin: 5px auto;  padding: 0px 35px;">
                {{> grade-legend-collapse}}
            </div>
        	</div>
        </div>
        <div name="scoresheet" style="padding: 5px;">
        	<label class="h4" style="color: #2c2c2c;"><strong>Scoresheet</strong></label>
        	<div class="table-responsive" style="width: 98%; margin-top: 20px;">
		        <table class="table table-bordered" style="font-family: Raleway; font-size: 14px; background-color: #fff;">
		            <thead>
		                <tr style="background: #efefef;color: rgb(0,148,68);">
		                    <th style="width: 40%;">Skill</th>
		                    <th style="width: 5%;">Day 1</th>
		                    <th style="width: 5%;">Day 2</th>
		                    <th style="width: 5%;">Day 3</th>
		                    <th style="width: 5%;">Day 4</th>
		                    <th style="width: 5%;">Day 5</th>
		                    <th style="width: 5%;">Day 6</th>
		                    <th style="width: 5%;">Day 7</th>
		                    <th style="width: 5%;">Day 8</th>
		                    <th style="width: 15%;">Average</th>
		                </tr>
		            </thead>
		            <tbody>
					{{#each skillScores}}
		                <tr>
		                    <td> {{skillName}} </td>
		                    <td> {{Day1}} </td>
		                    <td> {{Day2}} </td>
		                    <td> {{Day3}} </td>
		                    <td> {{Day4}} </td>
		                    <td> {{Day5}} </td>
		                    <td> {{Day6}} </td>
		                    <td> {{Day7}} </td>
		                    <td> {{Day8}} </td>
		                    <td> {{Ave}} </td>
		                </tr>
					{{/each}}
		            <!--for the final ave-->
		            	<tr style="font-weight: bold;">
		            		<td colspan="9">Final Average</td>
		            		<td>{{finalAve}}</td>
		            	</tr>
		            </tbody>
		        </table>
		    </div>
        </div>
    </div>
</div>