<!DOCTYPE html>

{{> trainee-navbar}}

<div style="padding: 70px 20px 20px 20px;">
    <div>
    	<label class="h3" style="padding: 5px;color: #2c2c2c;"><a href="/trainee-classes">Classes</a> > <strong>Class {{classID}}</strong></label>
        <hr>
    </div>
    <div>
        <div name="class_dets"  style="width: 100%; display: block; margin-bottom: 20px;">
        	<div style="display: inline-block;padding: 5px;">
        		Real Estate<br>
        		Rudolfa Villalopez<br>
        		September 10 - 18, 2020<br>
        		8AM - 5PM<br>
        		Meeting Link<br>
        	</div>
        	<div class="wrap-collabsible" name="grade-legend" style="float: right; margin: 5px auto;  padding: 0px 35px;">
                {{> grade-legend-collapse}}
            </div>
        	</div>
        </div>
        <div name="scoresheet" style="padding: 5px;">
        	<label class="h4" style="color: #2c2c2c;"><strong>Scoresheet</strong></label>
        	<div class="table-responsive" style="width: 98%; margin-top: 20px;">
		        <table class="table table-bordered" style="font-family: Raleway; font-size: 14px; background-color: #fff;">
		            <thead>
		                <tr style="background: #efefef;color: rgb(0,148,68);">
		                    <th style="width: 40%;">Skill</th>
		                    <th style="width: 5%;">Day 1</th>
		                    <th style="width: 5%;">Day 2</th>
		                    <th style="width: 5%;">Day 3</th>
		                    <th style="width: 5%;">Day 4</th>
		                    <th style="width: 5%;">Day 5</th>
		                    <th style="width: 5%;">Day 6</th>
		                    <th style="width: 5%;">Day 7</th>
		                    <th style="width: 5%;">Day 8</th>
		                    <th style="width: 15%;">Average</th>
		                </tr>
		            </thead>
		            <tbody>
						<tr>
		                    <td> {{skill1.[0]}} </td>
		                    <td> {{skill1.[1]}} </td>
		                    <td> {{skill1.[2]}} </td>
		                    <td> {{skill1.[3]}} </td>
		                    <td> {{skill1.[4]}} </td>
		                    <td> {{skill1.[5]}} </td>
		                    <td> {{skill1.[6]}} </td>
		                    <td> {{skill1.[7]}} </td>
		                    <td> {{skill1.[8]}} </td>
		                    <td> {{dailyAve.[0]}} </td>
		                </tr>
						<tr>
		                    <td> {{skill2.[0]}} </td>
		                    <td> {{skill2.[1]}} </td>
		                    <td> {{skill2.[2]}} </td>
		                    <td> {{skill2.[3]}} </td>
		                    <td> {{skill2.[4]}} </td>
		                    <td> {{skill2.[5]}} </td>
		                    <td> {{skill2.[6]}} </td>
		                    <td> {{skill2.[7]}} </td>
		                    <td> {{skill2.[8]}} </td>
		                    <td> {{dailyAve.[1]}} </td>
		                </tr>
												<tr>
		                    <td> {{skill3.[0]}} </td>
		                    <td> {{skill3.[1]}} </td>
		                    <td> {{skill3.[2]}} </td>
		                    <td> {{skill3.[3]}} </td>
		                    <td> {{skill3.[4]}} </td>
		                    <td> {{skill3.[5]}} </td>
		                    <td> {{skill3.[6]}} </td>
		                    <td> {{skill3.[7]}} </td>
		                    <td> {{skill3.[8]}} </td>
		                    <td> {{dailyAve.[2]}} </td>
		                </tr>
						<tr>
		                    <td> {{skill4.[0]}} </td>
		                    <td> {{skill4.[1]}} </td>
		                    <td> {{skill4.[2]}} </td>
		                    <td> {{skill4.[3]}} </td>
		                    <td> {{skill4.[4]}} </td>
		                    <td> {{skill4.[5]}} </td>
		                    <td> {{skill4.[6]}} </td>
		                    <td> {{skill4.[7]}} </td>
		                    <td> {{skill4.[8]}} </td>
		                    <td> {{dailyAve.[3]}} </td>
		                </tr>
												<tr>
		                    <td> {{skill5.[0]}} </td>
		                    <td> {{skill5.[1]}} </td>
		                    <td> {{skill5.[2]}} </td>
		                    <td> {{skill5.[3]}} </td>
		                    <td> {{skill5.[4]}} </td>
		                    <td> {{skill5.[5]}} </td>
		                    <td> {{skill5.[6]}} </td>
		                    <td> {{skill5.[7]}} </td>
		                    <td> {{skill5.[8]}} </td>
		                    <td> {{dailyAve.[4]}} </td>
		                </tr>
		            <!--for the final ave-->
		            	<tr style="font-weight: bold;">
		            		<td colspan="9">Final Average</td>
		            		<td>{{finalAve}}</td>
		            	</tr>
		            </tbody>
		        </table>
		    </div>
        </div>
    </div>
</div>