<!DOCTYPE html>

{{> trainer-navbar}}

<div style="padding: 70px 20px 20px 20px;">
	
    <div style="width: 98%;">
    	<div class="report-filter">
    		<label style="font-size: 18px;font-weight: bold;">Filters</label><br><br>
    		{{!-- <input placeholder="Search" style="padding: 4px 10px;margin-bottom: 10px; width:100%;"></input><hr> --}}

    		<label>Course</label>
		    <select style="width:100%"class="appdrop" name="course" id="courseFilter">   
		      <option class="appoption dropdown-item" value="1">All</option>
		      <option class="appoption dropdown-item" value="2">Marketing</option>
		      <option class="appoption dropdown-item" value="3">Real Estate</option>
		    </select> <br><br>

			<label>Status</label>
		    <select style="width:100%"class="appdrop" name="course" id="clStatusFilter">  
		      <option class="appoption dropdown-item" value="1">All</option>
		      <option class="appoption dropdown-item" value="2">Ongoing</option>
		      <option class="appoption dropdown-item" value="3">Completed</option>
		      <option class="appoption dropdown-item" value="4">Not Yet Started</option>
		    </select> <br><br>
	
			<label>Start Date</label>
			<input style="width:100%" id="sDateFilter" type="date"><br><br>

			<label>End Date</label>
			<input style="width:100%" id="eDateFilter" type="date"><br><br>
			<button id="applyTRFilter" style="width:100%">Apply filters</button>
    	</div>

    	<div class="class-report">
			<button type="button" id="print-ClassReport" style="border: none;display:flex; margin-right: 10px; margin-bottom: 10px; float: right; box-shadow: 1px 1px 5px rgba(0,0,0,0.2)"> Print Report </label></button>

			<div id="class-report">
			<div style="text-align: center; margin-bottom: 10px;">
		    	<label class="h3" style="padding: 5px;color: #2c2c2c;"><strong>Classes Summary Report</strong></label> <br>
		    	<label id="label-date">Period Covered: {{sDateFilter}} - {{eDateFilter}}</label> <br>
		    </div>
		    <!--table -->
		    <div class="table-responsive" style="width: 98%; margin: 00px auto;">
		        <table id="classTable" class="table table-bordered" style="font-family: Raleway; font-size: 14px; background-color: #fff;">
		            <thead>
		                <tr style="background: #efefef;color: rgb(0,148,68);">
		                    <th style="width: 10%;">Class ID</th>
		                    <th style="width: 15%;">Course</th>
		                    <th style="width: 15%;">Status</th>
		                    <th style="width: 10%;">Start Date</th>
		                    <th style="width: 10%;">End Date</th>
		                    <th style="width: 5%;">Students</th>
		                    <th style="width: 5%;">Passed</th>
		                    <th style="width: 5%;">Failed</th>
		                </tr>
		            </thead>
		            <tbody id="classTable">
						{{#each classList}}
		                <tr class="report-det">
		                    <td> {{classID}} </td>
		                    <td class="{{courseName}}"> {{courseName}} </td>
		                    <td> {{classStatus}} </td>
		                    <td> {{sDate}}, 2021 </td>
		                    <td> {{eDate}}, 2021 </td>
		                    <td style="text-align: right;"> {{numTrainees}} </td>
		                    <td style="text-align: right;"> {{numPassed}} </td>
		                    <td style="text-align: right;"> {{numFailed}} </td>
		                </tr>
						{{/each}}
		                <!--for totals-->
		            	<tr style="text-align: right;font-weight: bold;">
		            		<td colspan="5">Total</td>
		            		<td>{{totalTrainees}}</td>
		            		<td>{{totalPassed}}</td>
		            		<td>{{totalFailed}}</td>
		            	</tr>
		            </tbody>
		        </table>
		    </div>
		    <p class="page-footer">Page 1 of 1</p>
    	</div>
		</div>
    </div>
</div>