<!DOCTYPE html>

{{> trainee-navbar}}

<div style="padding: 70px 20px 20px 20px;">
    <div style="position: relative; top: 5px;">
        <div style="width: 18%; display: inline-block;"><img class="rounded-circle d-block float-left" width="200px" height="200px" style="margin: 20px;" src="/assets/img/default-photo.jpg">
        </div>
        <div style="display: inline-block; vertical-align: bottom; margin-bottom: 25px;">
            <h2 style="font-weight: bold">{{fName}} {{lName}}</h2>
            <div style="display: inline-block; padding: 2px 5px;">
                <label style="margin-right: 10px;"><strong>ID</strong></label>
                <label>{{userID}}</label>
            </div><br>
            <div style="display: inline-block; padding: 2px 5px;">
                <label style="margin-right: 10px;"><strong>Status</strong></label>
                <label>{{traineeStatus}}</label>
            </div>
            {{!-- {{#if traineeGraduated}} --}}
            <button onclick="window.location.href = '/certificate/{{{userID}}}'" type="button" id="viewCert" style="display: none; border: none; margin-bottom: 10px; box-shadow: 1px 1px 5px rgba(0,0,0,0.2)">
                <i class="fa fa-eye" style="margin-right: 10px;"></i> View Certificate</button>           
            {{!-- {{/if}} --}}
        </div>
    </div>
    <div class="table-responsive" style="width: 95%; margin: 00px auto;">
        <hr>
        <table class="table table-bordered" style="font-family: Raleway; font-size: 14px; background-color: #fff;">
            <thead>
                <tr style="background: #efefef;color: rgb(0,148,68);">
                    <th style="width: 10%;">Section</th>
                    <th style="width: 15%;">Course</th>
                    <th style="width: 35%;">Schedule</th>
                    <th style="width: 25%;">Trainer</th>
                </tr>
            </thead>
            <tbody>
                {{#each classList}}
                <tr>
                    <td> {{classID}} </td>
                    <td> {{courseName}} </td>
                    <td> {{sDate}} - {{eDate}}, 2021 </td>
                    <td> {{trainer}} </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>