<!DOCTYPE html>

{{> trainer-navbar}}

<div style="padding: 70px 20px 20px 20px;">
	<div>
    	<label class="h3" style="padding: 5px;color: #2c2c2c;"><a href="/tr-class-details/{{{classID}}}">Class {{classID}}</a> > <strong>Update Scoresheet</strong></label>
        <hr>
    </div>
    <div>
        <div name="class_dets"  style="width: 100%; display: block; margin-bottom: 65px;">
        	<div style="display: inline-block;padding: 5px;">
        		<label style="margin-right: 10px;"><strong>Course</strong></label>
        		<label>{{courseName}}</label>
        	</div>
            <div class="wrap-collabsible" name="grade-legend" style="float: right; margin: 5px auto; padding-right:35px;">
                {{> grade-legend-collapse}}
            </div>
            <div class="wrap-collabsible" name="grade-legend" style="float: right; margin: 5px auto;  padding-right: 35px;">
                {{> skills-legend-collapse}}
            </div>
        </div>
    </div>
    <div name="scoresheet" style="padding: 5px;">
    	<label class="h4" style="color: #2c2c2c;"><strong>Scores</strong></label>
    	<button type="button" class="outlined-btn theScore" style="margin: 2px;" id="theScores">Edit</button>
    	<button type="button" id="saveScores2" class="outlined-btn editScore" style="margin: 2px;" id="saveScores">Save</button>
		
		<div style="float: right;  text-align: center; margin: 0 auto; display: inline-flex;  padding-right:35px;" id="daysBtnGrp">
    		<button type="button" onclick="window.location.href = '/update-scoresheet/1/{{{classID}}}'" class="outlined-btn theScore" style="margin: 2px 5px;" >
				<i class="material-icons" style="position: relative; top: 2px;">navigate_before</i></button>
			
			<button type="button" class="outlined-btn editScore" disabled style="margin: 2px 5px;" >
				<i class="material-icons" style="position: relative; top: 2px;">navigate_before</i></button>

    		<label style="font-weight: bold; font-size: 18px; vertical-align: center; padding: 4px 8px;">Day 2</label>
    	
			<button type="button" onclick="window.location.href = '/update-scoresheet/3/{{{classID}}}'" class="outlined-btn theScore" style="margin: 2px 5px;" >
				<i class="material-icons" style="position: relative; top: 2px;">navigate_next</i></button>

    		<button type="button" class="outlined-btn editScore" disabled style="margin: 2px 5px;" >
			<i class="material-icons" style="position: relative; top: 2px;">navigate_next</i></button>
    	
		</div>
    	<div class="table-responsive" style="width: 98%; margin-top: 20px;">
	        <table class="table table-bordered" style="font-family: Raleway; font-size: 14px; background-color: #fff;">
	            <thead>
	                <tr style="background: #efefef;color: rgb(0,148,68);">
	                    <th style="width: 40%;">Trainee</th>
	                    <th style="width: 5%;">VC</th>
	                    <th style="width: 5%;">WC</th>
	                    <th style="width: 5%;">CR</th>
	                    <th style="width: 5%;">AS</th>
	                    <th style="width: 5%;">TS</th>
	                </tr>
	            </thead>
	            <tbody>
					{{#each trainees}}
	                <tr id="traineeID">
	                    <td> {{lName}}, {{fName}} </td>

	                    <td> <p class="theScore"> {{Day2.[0]}} </p> 
							<input type="text" class="editScore S1" style="width: 90%;" value="{{Day2.[0]}}">
						</td>
	                    
						<td> <p class="theScore"> {{Day2.[1]}} </p> 
							<input type="text" class="editScore S2" style="width: 90%;" value="{{Day2.[1]}}">
						</td>
	                    <td> <p class="theScore"> {{Day2.[2]}} </p> 
							<input type="text" class="editScore S3" style="width: 90%;" value="{{Day2.[2]}}">
						</td>
	                    
						<td> <p class="theScore"> {{Day2.[3]}} </p> 
							<input type="text" class="editScore S4" style="width: 90%;" value="{{Day2.[3]}}">
						</td>
	                    
						<td> <p class="theScore"> {{Day2.[4]}} </p> 
							<input type="text" class="editScore S5" style="width: 90%;" value="{{Day2.[4]}}">
						</td>
	                </tr>
					{{/each}}
	            </tbody>
	        </table>
	    </div>
    </div>
</div>